auth_enabled: false

limits_config:
  allow_structured_metadata: true
  volume_enabled: true
  retention_period: 168h  # 7 days

server:
  http_listen_port: 3100

common:
  ring:
    instance_addr: 0.0.0.0
    kvstore:
      store: inmemory
  replication_factor: 1
  path_prefix: /loki/data
  storage:
    filesystem:
      chunks_directory: /loki/chunks
      rules_directory: /loki/rules

schema_config:
  configs:
  - from: 2020-05-15
    store: tsdb
    object_store: filesystem
    schema: v13
    index:
      prefix: index_
      period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/data/index
    cache_location: /loki/data/index_cache
  filesystem:
    directory: /loki/chunks

pattern_ingester:
  enabled: true

compactor:
  working_directory: /loki/retention
  retention_enabled: true
  delete_request_store: filesystem